# sbt
lib_managed
project/project
target

# Worksheets (Eclipse or IntelliJ)
*.sc

# Eclipse
.cache*
.classpath
.project
.scala_dependencies
.settings
.target
.worksheet

# IntelliJ
.idea

# ENSIME
.ensime
.ensime_lucene

# Mac
.DS_Store

# Akka Persistence
journal
snapshots

# Log files
*.log
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
assembly
/bin/
